<ion-header>
  <ion-toolbar>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
<ion-list>

      <ion-item>
        <ion-label color="primary">Tipo de documento</ion-label>
        <ion-select>
          <ion-select-option value="01">Cédula</ion-select-option>
          <ion-select-option value="02">Tarjeta de identidad</ion-select-option>
          <ion-select-option value="03">Registro Civil</ion-select-option>
          <ion-select-option value="04">Pasaporte</ion-select-option>
          <ion-select-option value="05">DNI</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary"># documento: </ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="">Nombre: </ion-label>
        <ion-input type="text" maxlength="30" minlength="3"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="">Email: </ion-label>
        <ion-input type="email" minlength="3"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="">Teléfono: </ion-label>
        <ion-input type="number" maxlength="10" minlength="10"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="">Celular: </ion-label>
        <ion-input type="number" maxlength="10" minlength="10"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="">Direccion: </ion-label>
        <ion-input type="text" maxlength="30" minlength="5"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="">Fecha de Nacimiento: </ion-label>
        <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="">Ciudad: </ion-label>
        <ion-select>
          <ion-select-option value="01">Medellín</ion-select-option>
          <ion-select-option value="02">Envigado</ion-select-option>
          <ion-select-option value="03">Bogota</ion-select-option>
          <ion-select-option value="04">Cali</ion-select-option>
          <ion-select-option value="05">Barranquilla</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
       
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Sexo: </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Masculino</ion-label>
            <ion-radio slot="start" color="success" value="1"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Femenino</ion-label>
            <ion-radio slot="start" color="tertiary" value="2"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Otro</ion-label>
            <ion-radio slot="start" color="danger" value="3"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>

</ion-list>
<section class="full-width">
  <ion-button expand="full" color="secondary">Guardar</ion-button>
  <ion-button expand="full" color="warning">Cancelar</ion-button>
</section>
</form>
</ion-content>
