<ion-header>
  <ion-toolbar>
    <ion-title>Categoría</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="formularioActivo" (ngSubmit)="guardar()">
  <ion-item>
    <ion-label position="stacked">Nombre Categoría</ion-label>
    <ion-input id="nombreCategoria" type="text" formControlName="nombreCategoria"  ></ion-input>
    <ion-text color="danger" *ngIf="!this.formularioActivo.get('nombreCategoria').valid && this.formularioActivo.get('nombreCategoria').touched">
      Ingresa el nombre de la <strong>categoría</strong>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descripción Categoría</ion-label>
    <ion-input id="descripcionCategoria"  type="text" formControlName="descripcionCategoria" ></ion-input>
    <ion-text color="danger" *ngIf="!this.formularioActivo.get('descripcionCategoria').valid && this.formularioActivo.get('descripcionCategoria').touched">
      Ingresa la descripción de la <strong>categoría</strong>
    </ion-text>
  </ion-item>
  <hr>
  <section class="full-width">
    <ion-button type="submit" [disabled]="!formularioActivo.valid" expand="full" color="secondary">Guardar</ion-button>
  </section>
</form>
</ion-content>
